/MakerArtifacts/
/artifacts/
**/bin/
**/obj/
.vs/
*.user
*.suo
*.exe
*.dll
*.pdb
*.obj
*.map
*.log
*.zip
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.wmv
*.mpeg
*.mpg
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.aac
settings.json
.settings-*.tmp
self-test-error.txt
